{% extends 'base.html' %}

{% block content %}

    <div class="Box">
        <div style="width: 500px ;  height: 600px; padding:10px 0px 0px 50px;">
            <form action="/{{URL_Action}}/{{ID}}" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Enter Title Task *</label>
                    <input type="text" class="form-control" name="title" value="{{value_title}}">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Enter Your Task Description </label>
                    <input type="text" class="form-control" name="content" value="{{value_content}}">
                    <small id="emailHelp" class="form-text text-muted">Write A Description Of Your Task, It Can Be An
                        Explanation </small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Specify The Reminder Time *</label>
                    <input type="time" class="form-control" name="time" value="{{value_time}}">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-lg btn-block"
                        style="margin-top: 50px;">Submit</button>
                </div>
        </div>

{% endblock content %}
