{% extends 'base.html' %}

{% block content %}
<div class="Box" style="width: 690px; height:auto; float: left; ">
    
    {% for task in tasks %}
        <div class="card " style="margin: 30px 0px 30px auto; ">
            {% if task.Done == 1 %}
                <s><h5 class="card-header">{{task.Title}}</h5></s>
            {% else %}
                <center><h5 class="card-header">{{task.Title}}</h5></center>
            {% endif %}

            <div class="card-body">
                {% if task.Done == 0 %}
                    <p class="card-text"> <img src="{{ url_for('static', filename='/Content.svg') }}" width="20px" height="20px" style="margin-bottom: 2px;">  Description : {{task.Content}}</p>
                     <p class="card-text"> <img src="{{ url_for('static', filename='/Time.svg') }}" width="20px" height="20px" style="margin-bottom: 2px;"> Time To Remember  : {{task.ReminderTime}}</p>
                    <a href="{{url_for('Edite' , ID=task.Id)}}"  class="btn btn-primary" >Edite</a>

                    <a href="{{url_for('Done' , ID=task.Id)}}" class="btn btn-primary">Done</a>
                {% else %}
                    <s><p class="card-text">{{task.Content}}</p></s>
                {% endif %}
                <a href="{{url_for('Delete' , ID=task.Id)}}" class="btn btn-primary">Delete</a>
            </div>
        </div>
    {% endfor %}
</div>
<div style="float: right; display: inline-block;position: fixed;bottom: 40px;">
    {% include 'from.html' %}
    
</div>
{% endblock content %}