{% extends 'base.html' %}

{% block content %}
<div class="Box" style="width: 800px; margin: 50px 0px auto 20%; ">
    {% for task in tasks %}
        <div class="card ">
            <h5 class="card-header">{{task.Title}}</h5>
            <div class="card-body">
                <p class="card-text">{{task.Content}}</p>
                <a href="{{url_for('Delete' , ID=task.Id)}}" class="btn btn-primary">Delete</a>
                <a href="#" class="btn btn-primary">Edite</a>
                <a href="#" class="btn btn-primary">Done</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}